
@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="welcome_bakery_area cake_feature_main p_100">
	<div class="container">
		<div class="main_title">
			<h2>Địa chỉ</h2>
			<h5> Đến ngày địa chỉ của Shop để được xem nhiều sản phẩm đẹp hơn!</h5>
		</div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.484462346024!2d105.46772471434697!3d18.998362287132547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31376131f452aaab%3A0xee69663e3a836e53!2za2jhu5FpIDEgdHQgWcOqbiBUaMOgbmgsIHR0LiBZw6puIFRow6BuaCwgWcOqbiBUaMOgbmgsIE5naOG7hyBBbiwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1636993871452!5m2!1svi!2s" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	

	</div>
</section>